* {
  font-family: IranYekan, sans-serif;
  font-size: 13px;
  line-height: 1.6;
}
@font-face {
  font-family: IranYekan;
  src: url(/assets/fonts/iranyekanwebregular.woff);
}
.digikala-site {
  width: 100%;
  height: 100%;
}
.main-header {
  height: 100%;
  width: 100%;
}
.main-header img {
  /* height: 40%; */
  width: 100%;
}
.main-header .header {
  height: 40%;
  width: 97%;
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-header .header .right-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
}
.main-header .header .right-section img {
  width: 115px;
  height: 100%;
  min-height: 68px;
}
.main-header .header .right-section .wrapper {
  width: 65%;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-right: 20px;
  background-color: #f1f2f4;
  border-radius: 8px;
}
.main-header .header .right-section .wrapper img {
  width: 22px;
  height: 22px;
  padding: 0 15px;
}
.main-header .header .right-section .wrapper input {
  border: none;
  background-color: #f1f2f4;
}
.main-header .header .left-section {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  /* border: 1px solid red; */
}
.main-header .header .left-section .login {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 48%;
  height: 38px;
  border: 1px solid #e0e0e6;
  border-radius: 8px;
  font-size: 12px;
  margin-left: 15px;
  font-style: bold;
  padding: 5px 5px;
}
.main-header .header .left-section .login #log {
  border-left: 1px solid black;
  padding-left: 4px;
}
.main-header .header .left-section .login img {
  width: 20px;
  height: 20px;
}
.main-header .header .left-section .shop-icon {
  /* width: 24px; */
  height: 24px;
  border-left: 1px solid #e0e0e6;
  padding-left: 20px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.navigation {
  width: 97%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 50px;
}
.navigation .items {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation .items #category {
  color: black;
  font-size: 15px;
}
.navigation .items #category img {
  width: 20px;
  height: 20px;
}
.navigation .items .item {
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
  color: #5a5c7a;
}
.navigation .items #offer {
  width: 183px;
}
.navigation .items .item img {
  width: 14px;
  height: 14px;
  margin-left: 5px;
}
.navigation .location {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  color: #5a5c7a;
}
.navigation .location img {
  width: 20px;
  height: 20px;
}
.landing {
  border-top: 1px solid #bbbbbb;
}
.landing:hover {
  cursor: pointer;
}
.landing img {
  width: 100%;
  height: 100%;
}
.app-links {
  width: 90%;
  height: 100%;
  min-height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
.app-links .app-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-links .app-item p {
  font-size: 11px;
  margin-top: 10px;
}
.app-links .app-item img {
  width: 52px;
  height: 52px;
}

.app-links .app-item #more-icon {
  font-size: 35px;
  background-color: #f1f2f4;
  width: 52px;
  height: 52px;
  border-radius: 30px;
  text-align: center;
}
.incredible-offers {
  width: 85%;
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 0 auto;
  background-color: #ef394e;
  border-radius: 20px;
}
.incredible-offers .offers-start {
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.incredible-offers .offers-start p {
  color: #ffffff;
  font-size: 15px;
  margin-top: 10px;
}
.incredible-offers .offers-start img {
  width: 130px;
  height: 115px;
}
.incredible-offers .offers-start #inc-title {
  width: 33%;
  font-size: 21px;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}
.incredible-offers .offers-item {
  width: 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #ffffff;
  margin: 1px;
}
.incredible-offers .offers-item img {
  width: 167px;
  height: 167px;
}
.incredible-offers .offers-item .offers-details {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.incredible-offers .offers-item .offers-details #offer-percent {
  background-color: #ef394e;
  color: white;
  font-size: 14px;
  width: 20%;
  border-radius: 10px;
  text-align: center;
}
.incredible-offers .offers-item .offers-details .price {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.incredible-offers .offers-item .offers-details .price img {
  width: 15px;
  height: 15px;
}
.incredible-offers .offers-item del {
  color: #c3c3ce;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  padding-left: 34px;
  font-size: 10px;
}
.incredible-offers #first-item {
  border-radius: 0 10px 10px 0;
}
.fresh-offers {
  width: 85%;
  margin: 0 auto;
  /* height: 100px; */
  background-color: #eef1f0;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.fresh-offers .right-details {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.fresh-offers .right-details #market-offer {
  background-color: #39ae00;
  color: #ffffff;
  height: 30px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.fresh-offers .right-details #super-market {
  font-size: 25px;
  color: #39ae00;
  letter-spacing: -3px;
}

.fresh-offers .right-details img {
  width: 60px;
  height: 60px;
}
.fresh-offers .products {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 120px;
  width: 50%;
}
.fresh-offers .products .products-section {
  width: 77%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.fresh-offers .products .products-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.fresh-offers .products .products-offer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 26px;
  height: 50px;
  position: absolute;
  top: 33px;
}
.fresh-offers .products .products-offer p {
  height: 17px;
  width: 30px;
  text-align: center;
  background-color: #ef394e;
  border-radius: 25px;
  color: white;
  font-size: 12px;
}
.fresh-offers .products .products-image img {
  width: 70px;
  height: 70px;
  border-radius: 65px;
}
.fresh-offers .products .more-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  background-color: white;
  height: 50px;
  border-radius: 40px;
  color: #43b20d;
}
.fresh-offers .products .more-button img {
  width: 25px;
  height: 12px;
  padding-right: 8px;
}
.promotion-section {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 15px;
}
.promotion-section img {
  width: 24.25%;
  border-radius: 20px;
}
.category{
  width: 85%;
  margin: 0 auto;
  margin-top: 45px;
}
.category h2{
  text-align: center;
  font-size: 20px;
}
.category .category-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  min-height: 500px;
}
.category .category-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
}
.category .category-image p{
  margin-top: 15px;
}
.category .category-image img{
  width: 170px;
  height: 170px;
}